body{
    background: url(../img/fon1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.main-selection{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: white;
    opacity: 65;
    padding: 0 5px;
}